body {
    width: 80vw;
    margin: 0 auto;
}

.header {
    width: 100%;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
}

.header-all {
    display: flex;
    flex-direction: column;
}

.header-texts {
    display: flex;
    align-items: center;
}

.text {
    width: 400px;
    border: none;
    color: grey;
}

.name {
    color: black;
    margin: 0;
}

.img {
    height: 130px;
    margin: 5px;
}

.main {
    width: 100%;
}

.header-info {
    width: 270px;
    margin-left: 100px;
}

.header-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.educ {
    border-bottom: 2px solid grey;
    width: 100%;
    display: flex;
}
.title {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    color: gray;
    width: 20%;
}

.context {
    width: 60%;
}

.info {
    border-left: 2px solid grey;
    margin: 15px 0;
    padding-left: 15px;
}

.major {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    color: gray;
}

.info-title {
    margin: 0;
    font-size: 24px;
    font-style: bond;
    font-style: italic;
}

.desc {
    margin: 0;
    color: gray;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
margin-top: 30px;
}

.add {
    height: 40px;
    border-left: 2px solid grey;
    margin-top: 15px;
    padding-left: 10px;
}

